site_name: "THEMAP"
site_description: "THEMAP: Task Hardness Estimation for Molecular Activity Prediction"
site_url: "https://hfooladi.github.io/THEMAP/"
repo_url: "https://github.com/HFooladi/THEMAP"
repo_name: "HFooladi/THEMAP"
copyright: Copyright 2023 - 2026 Hosein Fooladi

remote_branch: "gh-pages"
use_directory_urls: false
docs_dir: "docs"

# Fail on warnings to detect issues with types and docstring
strict: false

nav:
  - Home: index.md

  - User Guide:
      - Getting Started: user-guide/getting-started.md
      - Distance Computation: user-guide/distance-computation.md
      - Command Line Interface: user-guide/cli.md

  - Tutorials:
      - Overview: tutorials/index.md
      - Getting Started: tutorials/getting-started.md
      - Basic Distance Computation: tutorials/basic-distance-computation.md
      - Working with Tasks: tutorials/working-with-tasks.md
      - Performance Optimization: tutorials/performance-optimization.md
      - Interactive Notebook: tutorials/Basics.ipynb

  - Examples:
      - Code Examples: examples/index.md

  - API Reference:
      - Data Module: api/data.md
      - Distance Module: api/distance.md
      - Features Module: api/features.md
      - Pipeline Module: api/pipeline.md

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: Inter
    code: JetBrains Mono

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - toc.follow
    - content.code.copy
    - content.code.annotate
    - search.suggest
    - search.highlight

  favicon: assets/images/logo-black.svg
  logo: assets/images/logo-white.svg

extra_css:
  - assets/css/custom-splito.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.keys

watch:
  - themap/

plugins:
  - search

  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append("docs")
            - sys.path.append("themap")
          options:
            show_root_heading: yes
            heading_level: 3
            show_source: false
            group_by_category: true
            members_order: source
            separate_signature: true
            show_signature_annotations: true
            line_length: 80
            docstring_style: google

  - mkdocs-jupyter:
      execute: False
      include_source: True

  - mike:
      version_selector: true
      css_dir: css
      javascript_dir: js

extra:
  version:
    provider: mike
    default: latest
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/HFooladi/THEMAP
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/themap/
  analytics:
    provider: google
    property: G-XXXXXXXXXX
